{% extends "page.html" %}
{% block subtitle %}{{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Organizations'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block page_header %}{% endblock %}


{% block primary %}

<div class="primary col-sm-12 col-xs-12">            
    <article class="module">
      <div class="module-content">
          <div class="page_primary_action">
            {% block page_primary_action %}
              {% if h.check_access('organization_create') %}
                {% link_for _('Add Organization'), controller='organization', action='new', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
                <br><br>
              {% endif %}
            {% endblock %}            

<div class="page_primary">
<div>
<h4> Please register your organization to add datasets. </h4>
</div>
<div>
<a style="margin-bottom :15px" class="btn btn-primary" href={{h.example_theme_organization_form() }} target="_blank">
<i class="fa fa-sitemap"></i>
Register Your Organization
</a>
</div>
</div>


</div>
        
        
<h1 class="hide-heading">Organizations</h1>


<form id="organization-search-form" class="search-form no-bottom-border" method="get" data-module="select-switch">
  {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
</form>


<ul class="list-unstyled">
  {% if c.page.items or request.params %}
    {% if c.page.items %}
    {% set organizations = c.page.items %}
    {% for organization in organizations %}
      {% snippet 'organization/example_theme_org_item.html', organization= organization %}
    {% endfor %}
    {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
      </p>
    {% endif %}
</ul>


{% block page_pagination %}
{{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
{% endblock %}

<div class="pagination-wrapper">
  {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '') }}
  {#
  <ul class="pagination"> <li class="active"><a href="/organization?q=&amp;sort=&amp;page=1">1</a></li> <li><a href="/organization?q=&amp;sort=&amp;page=2">2</a></li> <li><a href="/organization?q=&amp;sort=&amp;page=2">»</a></li>
  </ul>
  #}
</div>


      </div>
    </article>
  
</div>
{% endblock %}


{% block secondary %}
{% endblock %}