<section>
    <div class="jumbotron">
        <div class="container">
            <div class="row-fluid" align="center">
                <div class="col-sm-12 col-md-4">
                    <a href="{{ h.url_for(controller='organization', action='index') }}">
                        <img class="homepage-action-image image-fluid image-responsive" src="/data.png">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="{{ h.url_for(controller='showcase', action='index') }}">
                        <img class="homepage-action-image image-fluid image-responsive" src="/story.png">
                    
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a href="{{ h.url_for('/pages/what-is-open-data',_external=True)}}">
                        <img class="homepage-action-image image-fluid image-responsive" src="/opendata.png">
    
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    